{
    "passPerPreset": true,
    "plugins": ["transform-runtime"],
    "presets": [
        {
            "plugins": [
                "./plugins/babelRelayPlugin"
            ]
        },
        "es2015",
        "stage-0"
    ]
}
